---
- name: Setup Strapi CMS
  hosts: strapi
  pre_tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600
  roles:
    - nodejs
    - strapi
    - cloudflared
